{erl_opts, [debug_info]}.

{deps, [
   {erlware_commons, {git, "https://github.com/erlware/erlware_commons.git", {branch, "master"}}},
   {getopt,          {git, "https://github.com/jcomellas/getopt.git", "626698975e63866156159661d100785d65eab6f9"}}
]}.

{escript_name, relflow}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

%% have to include self atm, rebar3 escriptize is a bit confusing for now.
{escript_incl_apps, [
    relflow
]}.
